{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "plugins": ["babel"],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "babel/generator-star-spacing": 1,
    "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
    "babel/object-shorthand": 1,
    "babel/no-await-in-loop": 1,
    "max-len": [1, {
      "code": 100,
      "tabWidth": 4,
      "ignoreComments": true,
      "ignorePattern": "\\`[\\s\\S]*\\`",
    }],
  }
}
