@import 'css-reset/reset.css';

:global(*) {
  box-sizing: border-box;
}

:global(html) {
  font-size: 14px;
}

.animContainer {
  max-width: 600px;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: slateblue;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0.4em 1em;
  margin: 0 0.4em;
}
